<div class="hero-head">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand font-dosis">
        <span class="navbar-item">
          k41n3w
        </span>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          <div class="tabs is-right">
            <ul>
              <li class="is-active"><a>Posts</a></li>
              <li><a href="https://www.linkedin.com/in/k41n3w/">LinkedIn</a></li>
              <li><a href="https://k41n3w-portfolio.vercel.app/">Portfolio</a></li>
              <li><a href="https://github.com/k41n3w">Github</a></li>
              <li><a href="/users/sign_in"><span class="tag is-primary">Cadastre-se</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>