</br></br>
<figure class="image is-3by1">
  <%= image_tag @post.featured_image %>
</figure></br>
<div class="columns">
  <div class="column">
    <p class="title"><%= @post.title %></p>
  </div>
</div></br></br>
<div class="columns">
  <div class="column is-three-quarters"><%= @post.content %>
</div>